article
  h4.small-dark-title A la une
  .lead Suterw <span class="text-muted"> | pelsnf le 03/10/2016 </span>
  h2 Lorem Ipsum Dolor Sit
  p.text-muted Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lor Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lor

  .row
    .col-sm-4
      .glyphicon.glyphicon-time
      | 3 Days Ago
    .col-sm-8
      .glyphicon.glyphicon-tags
      strong Tags:
      a(href="")  lorem ,
      a(href="")  lorem ,
      a(href="")  lorem

hr 

article
  .row
    .col-sm-6
      .small-dark-title A la une 
    .col-sm-6
      a(href="") Questo de mous
      span.text-muted  | peile 12/14/16

  h2 Lorem Ipsum Dolor Sit Amet Molor Colat
  p.text-muted Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lor Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lor
      
    .row
      .col-sm-4
        .glyphicon.glyphicon-time
        | 3 Days Ago
      .col-sm-8
        .glyphicon.glyphicon-tags
        strong Tags:
        a(href="")  lorem ,
        a(href="")  lorem ,
        a(href="")  lorem
        
hr
  
article
  strong Suteres
  span.text-muted | publes 12/24/2016
  
  h2 Mollit anim id est laborum
  
  p: img(src="http://placehold.it/560x150")
  p.text-muted lorem whatever dude blah blah site amelasf sfsuewa yetro zvzvsaie ashfsauu 
