include mixin.jade

article
  h4.small-dark-title A la une
  .lead Suterw <span class="text-muted"> | pelsnf le 03/10/2016 </span>
  h2 Lorem Ipsum Dolor Sit
  p.text-muted Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lor Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lor

  +tagblock

hr 

article
  .row
    .col-sm-6
      .small-dark-title A la une 
    .col-sm-6
      a(href="") Questo de mous
      span.text-muted  | peile 12/14/16

  h2 Lorem Ipsum Dolor Sit Amet Molor Colat
  p.text-muted Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lor Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lorem Ipsum dolor sit Lorem Ipsum dolor sit Lorem Ipsum dolor sit  Lorem Ipsum dolor sit  Lor
  
  +tagblock    
        
hr
  
article
  strong Suteres
  span.text-muted | publes 12/24/2016
  
  h2 Mollit anim id est laborum
  
  p: img(src="http://placehold.it/560x250")
  p.text-muted lorem whatever dude blah blah site amelasf sfsuewa yetro zvzvsaie ashfsauu
  
  +tagblock
  
hr 
  
article
  strong Suteres
  span.text-muted | publes 12/24/2016
    
  h2 Mollit anim id est laborum
  
  p.text-muted lorem whatever dude blah blah site amelasf sfsuewa yetro zvzvsaie ashfsauu
    
  +tagblock
