aside
  article
    h2 Terir par Experteses
    
    ul
      li Lorem Ipsum
      li Dolor
      li Dolor
      li Lorem Ipsum
      li Lorem Ipsum
      li Lorem Ipsum

  hr
  
  article.bg-grey
    .lead Webzine
    h4 EFGDSA4
    
    p.text-muted Educudas
    p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

  hr(style="border: none")

  article.bg-grey
    .lead Webzine
    h4 EFGDSA4
    img(src="http://placehold.it/400x200")
    p.text-muted Educudas
    p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 


  hr(style="border: none")
    
  article.bg-grey
    .lead Webzine
    h4 EFGDSA4
    p.text-muted Educudas
