mixin tagblock
  .row.text-muted
    .col-sm-4
      .glyphicon.glyphicon-time
      | 3 Days Ago
    .col-sm-8
      .glyphicon.glyphicon-tags
      strong Tags:
      a(href="")  lorem ,
      a(href="")  lorem ,
      a(href="")  lorem
