mixin tagblock
  .row.text-muted
    .col-sm-4
      .glyphicon.glyphicon-time
      | 3 Days Ago
    .col-sm-8
      .glyphicon.glyphicon-tags
      strong Tags:
      a(href="")  lorem ,
      a(href="")  lorem ,
      a(href="")  lorem
      
mixin mediaobject(title)

  .media
    a(href="#")
      img.media-object(src="http://placehold.it/60x60")
        
    .media-body
      h4.media-heading #{title}
      p Lorem Ispum Dolor Sit Amet
      
mixin footerunit

  .col-sm-2
    h4 Footaaa
    ul
      li asfsaf
      li arat
      li afsasf
      li asfasf  
